hdxrate==0.2.0
numpy
matplotlib==3.4.3
pandas==1.4.2
scikit-image==0.19.2
scipy==1.8.0
symfit==0.5.5
torch==1.11.0
tqdm==4.64.0
typer==0.4.1
dask==2022.4.0
distributed==2022.4.0
packaging==21.3
param==1.12.1
panel==0.12.7
bokeh==2.4.2
holoviews==1.14.8
colorcet==3.0.0
hvplot==0.7.3
proplot==0.9.3
pyyaml==6.0
pylatex==1.4.1
proplot==0.9.3
sphinx==4.5.0
ipykernel==6.12.1
nbsphinx==0.8.8
furo==2022.4.7
sphinx-copybutton==0.5.0
sphinx-autodoc-typehints==1.12.0